# ðŸš€ Churn Prediction Generator

## ðŸŽ¯ Objective

In this notebook, we will:

- Load the already trained Logistic Regression churn prediction model
- Apply the model to the cleaned encoded dataset
- Generate churn predictions for each customer
- Save the new dataset with predictions into a new CSV file

---

In [1]:
## ðŸ§© Step 1: Load Required Libraries

# We will import pandas for data handling and joblib to load our trained model.

import pandas as pd
import joblib

In [2]:
# ðŸ—‚ Step 2: Load the Cleaned Encoded Dataset

df = pd.read_csv("../data/cleaned_data/encoded_data.csv")
df.head()

,Customer_ID,Attrition_Flag,Customer_Age,Gender,Dependent_count,Education_Level,Income_Category,Tenure_Months,Products_Count,Months_Inactive_12_mon,...,NB_Stay_Probability,NB_Churn_Probability,Marital_Divorced,Marital_Married,Marital_Single,Marital_Unknown,Card_Blue,Card_Gold,Card_Platinum,Card_Silver
0,768805383,0,45.0,0,3,3,2,39.0,5,1.0,...,0.000093,0.99991,False,True,False,False,True,False,False,False
1,818770008,0,49.0,1,5,2,4,44.0,6,1.0,...,0.000057,0.99994,False,False,True,False,True,False,False,False
2,713982108,0,51.0,0,3,2,3,36.0,4,1.0,...,0.000021,0.99998,False,True,False,False,True,False,False,False
3,769911858,0,40.0,1,4,3,4,34.0,3,4.0,...,0.000134,0.99987,False,False,False,True,True,False,False,False
4,709106358,0,40.0,0,3,5,2,21.0,5,1.0,...,0.000022,0.99998,False,True,False,False,True,False,False,False